{% extends 'pkart/layout.html' %}
{% load static %}
{% block content %}
<div class='col-8 mx-auto'>
  <h1>Welcome To checkout {{user}}</h1>
  <div class="card">

  <div class="card-header">
    Product {{product.product_number}}
  </div>
    <div class="card-body" >
      <div class="row">
        <div class="col-3">
          <img src="{{product.product_image.url}}" alt=""  width="200" height="200">
        </div>
        <div class = "col-4 mx-auto">
          <h5 class="card-title">{{product.product_name}}</h5>

              <p  class="card-text">{{product.product_description}}</p>

        </div>
      </div>


    </div>




    <a href="/pkart/checkout/{{product.product_number}}" class="btn btn-success">Make Payment</a>
  </div>

</div></div>
{% endblock %}
